<footer id="footer">
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 "> &copy; Copyright 2015 by SafiraSalões. Todos os direitos reservados. </div>
          <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
            <ul class="contact-us">
              <li>
                <i class="fa fa-map-marker"></i>
                <p> 
                  <strong class="contact-pad">Endereço:</strong> Av dos Engenheiros, 431, sala 802 - Castelo,<br> Belo Horizonte - Minas Gerais <br>
                </p>
              </li>
              <li>
                <i class="fa fa-envelope"></i>
                <p><strong>Email:</strong><a href="mailto:contato@safirasaloes.com.br">contato@safirasaloes.com.br</a></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
  </div>
  <%= render "webengage" %>
</footer>
<a href="#" class="scrollup"><i class="fa fa-angle-up"></i></a>