<div class="wrap">
  <header id="header">
    <div class="main-header">
      <div class="container" id="myScrollSpy">
        <div class="logo pull-left">
          <h1>
            <%= link_to image_tag('logo.png'), root_path %>
          </h1>
        </div>
      </div>
    </div>
  </header>
</div>

<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-3 col-xs-6">
        <h3 class="title">Obrigado</h3>
          <p>
            Obrigado pelo seu interesse em utilizar o SafiraSalões. Estamos certos de que com o nosso sistema você aumentará seus rendimentos mensais e conquistará seus sonhos.
          </p>

          <p>
            No momento as inscrições estão suspensas, mas seus dados foram salvos e entraremos em contato em breve.
          </p>

          <p>
            Obrigado!
          </p>
        <div class="divider"></div>
      </div>
    </div>
  </div>
</div>