<div class="wrap">
  <header id="header">
    <div class="main-header">
      <div class="container" id="myScrollSpy">
        <div class="logo pull-left">
          <h1>
            <%= link_to image_tag('logo.png'), root_path %>
          </h1>
        </div>
      </div>
    </div>
  </header>
</div>

<div class="content">
  <div class="container">
    <div class="row" id="align-central">
      <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12" id="contact-form">
        <h3 class="title">Obrigado</h3>
          <p>
            Obrigado pelo seu interesse em utilizar o SafiraSalões. <b>Entraremos em contato em breve.</b>
          </p>
          <p>
            Enquanto aguarda, <a href="https://www.facebook.com/SafiraSaloes">curta nossa página no Facebook</a> para conhecer mais sobre o SafiraSalões.
          </p>

          <p>
            Obrigado!
          </p>
        <div class="divider"></div>
      </div>
    </div>
  </div>
</div>